<div class="sales-card">

    <div class="sales-header">

        <div>

            <h2>
                Services Distribution
            </h2>

            <p>
                Sales percentage by service
            </p>

        </div>

        <div class="sales-actions">

            <input type="date" [(ngModel)]="filterStartDate">

            <input type="date" [(ngModel)]="filterEndDate">

            <button (click)="loadChart()">
                Apply
            </button>

        </div>

    </div>

    <apx-chart #chart
        [chart]="chartDetails"
        [series]="chartSeries"
        [labels]="chartLabels"
        [legend]="chartLegend"
        [tooltip]="chartTooltip"
        [responsive]="chartResponsive">
    </apx-chart>

</div>
