<div class="sales-card">

    <div class="sales-header">

        <div>

            <h2>Sales Details</h2>

            <p>
                Revenue over time
            </p>

        </div>

        <div class="sales-actions">

            <input type="date" [(ngModel)]="filterStartDate">

            <input type="date" [(ngModel)]="filterEndDate">

            <button (click)="applyDates()">
                Apply
            </button>

            <button (click)="exportExcel()">
                Export to Excel
            </button>

        </div>

    </div>

    <apx-chart #chart
        [chart]="chartDetails"
        [series]="chartSeries"
        [xaxis]="chartXAxis"
        [stroke]="chartStroke"
        [yaxis]="chartYAxis"
        [dataLabels]="chartDataLabels"
        [fill]="chartFill"
        [grid]="chartGrid"
        [tooltip]="chartTooltip">
    </apx-chart>
</div>
